div.blog-container {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  padding: 60px 0;
}

section {
  flex-grow: 1;
}

article {
  padding: 10px 0;
}

@media (max-width: 900px) {
  div.blog-container {
    width: 80vw;
  }
}
