article {
  padding: 10px 0;
}

.blog__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 100px 50px;
}

.blog__item {
  min-height: 400px;
}

.blog__item--header > img {
  max-height: 100px;
}

.blog__item--header > h2 {
  padding: 20px 30px;
}

.blog__item--content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.display {
  display: none !important;
}
