.footer__copyrighter {
  text-align: center;
  font-size: 0.7rem;
  color: #e0e0e0;
  padding: 10px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px 40px;
  padding: 20px 10%;
}

.footer__item {
  min-height: 110px;
  display: grid;
  grid-template-rows: 40px 1fr;
}

ul.footer__list {
  list-style: none;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

ul.footer__list > li {
  opacity: 0.8;
}

ul.footer__list > li > a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

ul.footer__list > li > a:hover {
  opacity: 1;
}

ul.footer__service {
  border-bottom: 1px solid #0c0c0c;
  font-size: 0.9rem;
  text-align: center;
}

ul.footer__service > li {
  display: inline-block;
  padding: 8px 10px;
}
