header {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  -webkit-box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.192);
  -moz-box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.192);
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.192);
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

img.firana {
  align-content: right;
  z-index: 9997;
  max-height: 90vh;
  top: 50%;
  left: 70%;
}

img.background {
  z-index: 9996;
}

.hello-container {
  display: block;
  z-index: 9998;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.hello-container h1 {
  font-size: 80px;
  font-weight: bold;
}

.layout__button {
  font-family: "Quicksand", sans-serif;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 28px;
  font-size: 1.2em;
  margin: 15px 0;
  -webkit-box-shadow: 11px 13px 24px -16px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 11px 13px 24px -16px rgba(0, 0, 0, 0.79);
  box-shadow: 11px 13px 24px -16px rgba(0, 0, 0, 0.79);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(4px);
}

@media (max-width: 1200px) {
  img.firana {
    width: 1vw;
    top: 77vh;
    left: 59vw;
  }
  .hello-container {
    display: block;
    z-index: 9998;
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
  }
  .hello-container h1 {
    font-size: 38px;
  }
  .hello-container h3 {
    font-size: 16px;
  }
}
