.web__container--about {
  padding: 5% 10%;
}

h2.web_about--title::before {
  content: ",,";
  position: fixed;
  font-size: 8em;
  font-weight: 500;
  transform: translate(-70px, -260px);
  opacity: 0.1;
}

p.web_about--paragraph::after {
  content: ",,";
  position: fixed;
  font-size: 8em;
  font-weight: 500;
  transform: translate(-20px, -130px);
  opacity: 0.1;
}
