.contact {
  width: 100%;
}

.contact textarea {
  justify-content: center;
  align-content: center;
  min-width: 80%;
}

.login__container.layout__email {
  max-width: 900px;
}

.layout__form--input.layout__email {
  height: 180px;
  padding: 20px;
}
