* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antyaliased;
  -moz-osx-font-smoothing: grayscale;
}

html,
input,
textarea {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

input,
textarea {
  font-size: 1rem;
}

button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 3em;
  font-size: 3em;
  line-height: 0.9em;
  padding-bottom: 15px;
  padding-top: 15px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

p {
  font-size: 1.2em;
}
